:root {
    --primary-color: #ffc300;
    --background-color: #f9f9f9;
    --darkgray-color: #444444;
    --lightgray-color: #dddddd;
    --white-color: #ffffff;
}

.fp-watermark {
    display: none;
}

.cursor {
    transform: translate(-50%, -50%);
    cursor: none;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    /* background: var(--lightgray-color); */
    backdrop-filter: invert(80%);
    transition: 0.1s;
}

.cursor img {
    position: absolute;
    top: 25%;
    left: 25%;
    transform: rotate(-135deg);
    width: 5rem;
}

@keyframes ctxt {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    background: url(../images/patten01.png);
}

/* ---- reset ---- */
body {
    margin: 0;
}

canvas {
    display: block;
    vertical-align: bottom;
}

/* ---- particles.js container ---- */
#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-image: url(../images/patten01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

/* ---- stats.js ---- */
.count-particles {
    background: #000022;
    position: absolute;
    top: 48px;
    left: 0;
    width: 80px;
    color: #13e8e9;
    font-size: 0.8em;
    text-align: left;
    text-indent: 4px;
    line-height: 14px;
    padding-bottom: 2px;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
}

.js-count-particles {
    font-size: 1.1em;
}

#stats,
.count-particles {
    display: none;

    -webkit-user-select: none;
    margin-top: 5px;
    margin-left: 5px;
}

#stats {
    border-radius: 3px 3px 0 0;
    overflow: hidden;
}

.blind {
    display: none;
}

.count-particles {
    border-radius: 0 0 3px 3px;
}

.inner {
    max-width: 120rem;
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}

.fp-overflow::-webkit-scrollbar {
    display: none !important;
}

.title_wrap {
    position: fixed;
    top: 4rem;
    left: 6rem;
    z-index: 999;
}

.utils_wrap {
    position: fixed;
    top: 4rem;
    right: 6rem;
    height: 100vh;
    z-index: 999;
}
.utils_wrap .totop {
    position: absolute;
    bottom: 10rem;
    right: 0;
    z-index: 999;
}

.tel_wrap {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    bottom: 4rem;
    left: 6rem;
    z-index: 999;
}

.tel_wrap a {
    display: flex;
    align-items: center;
    gap: 4px;
}

.tel_wrap span {
    font-size: 16px;
}

.gnb {
    position: fixed;
    top: 0;
    right: 6rem;
    z-index: 999;

    width: 20rem;
    height: 100%;
    overflow: hidden;

    transition: 0.5s;
}

.gnb.on {
    width: 0;
}

.gnb_box {
    display: flex;
    width: 50%;
    height: 100%;
    align-items: center;
}

.gnb_box > * {
    flex: 1;
}

.gnb .txt_box {
    display: flex;

    justify-content: space-between;
}

.gnb .lnk {
    display: flex;
    flex-direction: column;
    width: 20rem;
    gap: 20px;

    text-align: right;
    font-size: 32px;
    font-weight: 700;
}

.gnb .lnk li {
    padding: 8px 0;

    transition: 0.5s;
    text-align: right;
}

.gnb .lnk li a {
    align-items: center;
}

.gnb .lnk .active {
    padding: 8px 16px;

    background: #000;
}
.gnb .lnk .active a {
    color: #fff;
}

.mainVisal {
    position: relative;
}

.mainVisal .painting {
    position: absolute;
    inset: 0 0 0 0;
    z-index: 1;
}

.mainVisal .pattern {
    position: absolute;
    inset: 0 0 0 0;

    background: url(../images/patten01.png);
    z-index: 2;
}

.mainVisal .painting video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.mainVisal .bg {
    position: absolute;
    top: 50%;
    left: 60%;
    width: 700px;

    transform: translate(-50%, -50%) rotate(360deg);

    fill: transparent;
    stroke: rgba(0, 0, 0, 0.2);

    z-index: 3;
    .cls-1 {
        stroke-linecap: square;
        stroke-linejoin: round;
        stroke-width: 2px;
    }
}
.mainVisal .color_bg {
    position: absolute;
    top: 50%;
    left: 60%;
    width: 700px;

    transform: translate(-50%, -50%) rotate(360deg);

    fill: transparent;
    stroke: rgba(255, 255, 255, 0.2);
    opacity: 1;

    z-index: 3;

    .cls-1 {
        stroke-linecap: square;
        stroke-linejoin: round;
        stroke-width: 2px;
    }

    .wood {
        opacity: 0.7;
    }

    .color_01 {
        stroke-linejoin: round;
        stroke-width: 2px;
        fill: #007dd5;
        opacity: 0.8;
    }
    .color_02 {
        stroke-linejoin: round;
        stroke-width: 2px;
        fill: #c7002e;
        opacity: 0.8;
    }
    .color_03 {
        stroke-linejoin: round;
        stroke-width: 2px;
        fill: #000000;
        opacity: 0.8;
    }
    .color_04 {
        stroke-linejoin: round;
        stroke-width: 2px;
        fill: #fece00;
        opacity: 0.8;
    }
    .color_05 {
        stroke-linejoin: round;
        stroke-width: 2px;
        fill: #06c756;
        opacity: 0.8;
    }
}

.mainVisal .path {
    position: absolute;
    top: 50%;
    right: 40%;

    transform: translate(-50%, -50%);
    width: 160rem;
    height: 65rem;
}

.mainVisal .path svg {
    position: absolute;
    top: 0;
    left: 0;

    overflow: visible;
    height: 100%;
    max-width: 100%;

    fill: #000;
}

.mainVisal .path circle {
    fill: white;
}

.mainVisal .path path {
    stroke-width: 3px;
    stroke: #88ce02;
}

.mainVisal h2 {
    color: #000;
}

.mainVisal h2 span {
    display: block;
    color: transparent;
    -webkit-text-stroke: 1px #000;
}

@keyframes nemo {
    0% {
        top: 0;
    }

    100% {
        top: -50rem;
    }
}

.mainVisal .tit h2 {
    margin: 0 0 1.6rem 0;
    font-size: 10rem;
    font-weight: 900;
    text-transform: uppercase;
    text-indent: -4px;
}

.mainVisal .tit p {
    margin: 0 0 1.6rem 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.mainVisal .content {
    position: relative;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;

    z-index: 3;
}

.mainVisal .con {
    flex: 1;
    position: relative;
}

.mainVisal .con svg {
    max-width: 100%;
}

.mainVisal .t {
    position: absolute;
    bottom: -20rem;
    right: -10rem;
    font-size: 4rem;
    font-weight: 900;
    z-index: 9999;
}

.mainVisal .con .p {
    position: absolute;
    left: -10000px;
    width: 10rem;
    border: 1px solid var(--primary-color);
}

.mainVisal .con .m {
    animation: fly 0.075s infinite;
}

@keyframes fly {
    0% {
        transform: scaleY(0.5);
    }

    50% {
        transform: scaleY(1);
    }

    0% {
        transform: scaleY(0.5);
    }
}

.portfolio .title {
    position: relative;
}

@keyframes bg {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes sg {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.portfolio .con .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12rem;
    height: 50%;
}

.portfolio .con .tit {
    position: relative;
    display: inline-block;
    margin: 0 0 1.6rem 0;
}

.portfolio .con h3 {
    position: relative;
    display: inline-block;
    font-size: 8rem;
    font-weight: 900;
    text-transform: uppercase;
    text-indent: -4px;

    z-index: 999;
}

.portfolio .con .tit .brush {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;

    opacity: 0.7;
}

.portfolio .con .tit .brush_inner {
    position: absolute;
    inset: 0 0 0 0;
    width: 100%;
    background: #fff;
}

.portfolio .con01 .tit .brush {
    background: url(../images/portfolioBG_01.png) no-repeat center center/cover;
}

.portfolio .con02 .tit .brush {
    background: url(../images/portfolioBG_02.png) no-repeat center center/cover;
}

.portfolio .con03 .tit .brush {
    background: url(../images/portfolioBG_03.png) no-repeat center center/cover;
}

.portfolio .con04 .tit .brush {
    background: url(../images/portfolioBG_04.png) no-repeat center center/cover;
}

.portfolio .con05 .tit .brush {
    background: url(../images/portfolioBG_05.png) no-repeat center center/cover;
}

.portfolio .con p {
    margin: 0 0 3.2rem 0;
}

.portfolio .con .desc_inner {
    width: 100%;
    background: #ffffff;
}

.portfolio .con .table {
    margin: 0 0 4rem 0;
}

.portfolio .con .link {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
}

.portfolio .con .link a {
    border-radius: 8px;
    padding: 12px 32px;
    background: var(--darkgray-color);
    color: var(--white-color);
}

.portfolio .con .desc_table {
    border-top: 2px solid var(--primary-color);
    width: 100%;
}

.portfolio .con .desc_table th,
.portfolio .con .desc_table td {
    padding: 0 16px;
    text-align: left;
    font-weight: 400;
    height: 4rem;
    border-bottom: 1px solid var(--lightgray-color);
}

.portfolio .con .desc_table td {
    display: flex;
    gap: 10px;
    align-items: center;
}

.portfolio .con .desc_table td span {
    width: 20px;
    height: 20px;
    font-size: 0;
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 50%;
}

/* color */

.portfolio .con01 .desc_table td span:nth-child(1) {
    background: #007dd5;
}
.portfolio .con01 .desc_table td span:nth-child(2) {
    background: #f1f1f1;
}

.portfolio .con02 .desc_table td span:nth-child(1) {
    background: #c7002e;
}
.portfolio .con02 .desc_table td span:nth-child(2) {
    background: #f1f1f1;
}
.portfolio .con02 .desc_table td span:nth-child(3) {
    background: #111111;
}

.portfolio .con03 .desc_table td span:nth-child(1) {
    background: #666;
}
.portfolio .con03 .desc_table td span:nth-child(2) {
    background: #000;
}

.portfolio .con04 .desc_table td span:nth-child(1) {
    background: #fece00;
}
.portfolio .con04 .desc_table td span:nth-child(2) {
    background: #000;
}

.portfolio .con05 .desc_table td span:nth-child(1) {
    background: #06c756;
}
.portfolio .con05 .desc_table td span:nth-child(2) {
    background: #ffffff;
}

.portfolio .tit h2 {
    margin: 0 0 1.6rem 0;
    font-size: 10rem;
    font-weight: 900;
    text-transform: uppercase;
    text-indent: -4px;
}

.portfolio .tit p {
    margin: 0 0 1.6rem 0;
    font-size: 1.4rem;
    line-height: 1.8rem;
}

.portfolio .slide {
    position: relative;
    overflow: hidden;
}

.portfolio .slide .p {
    position: absolute;
    left: -10000px;
    width: 10rem;
    border: 1px solid var(--primary-color);
}

@keyframes fly2 {
    0% {
        transform: scaleY(0.5);
    }

    50% {
        transform: scaleY(1);
    }

    0% {
        transform: scaleY(0.5);
    }
}

.portfolio .mokup {
    position: relative;
    flex: 0 0 30rem;
    height: 62.5rem;
}

.portfolio .mokup > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.portfolio .mokup .line {
    z-index: 999;
}

.portfolio .mokup .pof {
    border-radius: 4.5rem;
    border: 1rem solid transparent;
    box-shadow: 2rem 2rem 16px rgba(0, 0, 0, 0.1);
}

.portfolio .mokup .line + .pof img {
    transition: transform 0.5s;
    height: 100%;
}

.portfolio .desc p {
    width: 650px;
}

.traning {
}

.traning h2 {
    font-size: 8rem;
    font-weight: 900;
    margin: 0 0 40px 0;
    text-transform: uppercase;
}

.traning .traning_wrap {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    text-align: center;
}

.traning .traning_wrap figure {
    border-radius: 25px;
    overflow: hidden;
    margin: 0 0 16px 0;
}

.traning .traning_wrap figure img {
    max-width: 102%;
}

.traning .traning_wrap strong {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
}

.profile {
    position: relative;
    display: flex;
    align-items: center;
}

.profile .tit h2 {
    font-size: 10rem;
    font-weight: 900;
    margin: 0 0 3.2rem 0;
    text-transform: uppercase;
}

.profile .top {
    display: flex;
}

.profile .top > * {
    flex: 1;
}

.profile .top .left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile .top .left figure {
    width: 300px;
    overflow: hidden;

    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 0 40px 0;
}

.profile .top .left ul {
    position: relative;
    width: 300px;
}

.profile .top .left ul::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 50%;
    height: 1px;
    transform: translate(50%, 0);
    background: rgba(0, 0, 0, 0.4);
}

.profile .top .left ul li {
    display: flex;
    gap: 30px;
    padding: 8px;
}

.profile .top .left ul li strong {
    width: 60px;
    font-weight: 700;
}

.profile .right {
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.profile .right > * {
    flex: 1;
}

.profile .right strong {
    display: block;
    font-size: 2.4rem;
    font-weight: 700;

    margin: 0 0 20px 0;
}

.profile .right .education ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile .right .education ul li {
    display: flex;
    gap: 20px;
}

.profile .right .skill .grid_box {
    display: grid;
    gap: 40px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.profile .right .skill .grid_box .itm {
    align-items: center;
    text-align: center;
}

.profile .right .skill .grid_box figure {
    display: block;
    margin: 0 0 8px 0;
}

.profile .right .skill .grid_box span {
    font-weight: 600;
}
